extends layout

block content
	.header
		img()
		h1= title
		button(id="note-btn") +
		
	.chatroom-details
		.chatroom-tab 
			p
				| Members
		.form.row
			input(type=text placeholder="Name" class="small-8 columns")
			button(class="name-btn small-3 columns") Set
		#chatroom-users

	canvas(id="ocean", resize="true")
	canvas(id="night-content", resize="true")
	canvas(id="day-content", resize="true")

	script(type="text/paperscript", src="javascripts/night.js", canvas="night-content")
	script(type="text/paperscript", src="javascripts/day.js", canvas="day-content")
	script(type="text/paperscript", src="javascripts/water.js", canvas="ocean")
	script(src="/javascripts/notes.js")
	script(src="/javascripts/socket.js")
