html, body {
  padding: 0;
  margin: 0;
  font-family: "Dosis", arial, sans-serif;
  overflow: hidden; }

p {
  padding: 0;
  margin: 0; }

input {
  padding: 5px;
  width: 80%;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-family: "Dosis", arial, sans-serif; }

input:focus, button:focus, textarea:focus {
  outline: 0; }

::-webkit-input-placeholder {
  color: white; }

:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

:-ms-input-placeholder {
  color: white; }

button {
  border-radius: 5px;
  background-color: white;
  border: none;
  width: 25px;
  height: 25px;
  margin: 5px;
  padding: 0; }

canvas {
  display: inline-block; }

h1 {
  margin: 0;
  padding: 0;
  color: white;
  background-color: transparent;
  text-align: center;
  font: 4em "Dosis", arial, sans-serif;
  display: inline-block; }

.day, .night {
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out; }

.day {
  background-color: #e0e2e3; }
  .day .header h1 {
    color: black; }
  .day #message {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; }
    .day #message p {
      border-bottom: 1px solid lightgrey; }
  .day .form input {
    color: black; }
  .day .form button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; }
  .day input {
    border-color: black; }
  .day textarea {
    color: black; }
  .day .chatroom-details {
    background-color: rgba(0, 0, 0, 0.5); }
    .day .chatroom-details input {
      color: white;
      border-color: lightgrey; }
    .day .chatroom-details #chatroom-users {
      color: white; }

.night {
  background-color: #001246; }
  .night .header h1 {
    color: white; }
  .night #message {
    background-color: rgba(255, 255, 255, 0.7);
    color: black; }
    .night #message p {
      border-bottom: 1px solid darkgrey; }
  .night .form input {
    color: white; }
  .night .form button {
    background-color: white;
    color: black; }
  .night input {
    border-color: white; }
  .night textarea {
    color: white; }
  .night .chatroom-details {
    background-color: rgba(255, 255, 255, 0.7); }
    .night .chatroom-details input {
      color: black;
      border-color: black; }
    .night .chatroom-details #chatroom-users {
      color: black; }

/* Scale canvas with resize attribute to full size */
#ocean {
  width: 100%;
  height: 200px;
  position: fixed;
  bottom: 0;
  margin: 0; }

#night-content, #day-content {
  height: 60%;
  width: 100%; }

.header {
  text-align: center; }
  .header img {
    width: 3em;
    float: left; }
  .header #note-btn {
    font-size: 1.2em;
    line-height: 20px;
    padding: 5px;
    height: 30px;
    width: 30px;
    float: right; }

#bottle {
  position: absolute;
  bottom: -15px;
  width: 2em; }

.chatroom-details {
  width: 25%;
  min-width: 200px;
  max-width: 300px;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 7px;
  margin-left: 1em;
  position: absolute;
  bottom: 0;
  z-index: 5; }
  .chatroom-details .chatroom-tab {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px; }
  .chatroom-details .form {
    width: 100%;
    padding: 5px; }
    .chatroom-details .form input {
      border-color: black; }
    .chatroom-details .form button {
      float: right; }
  .chatroom-details #chatroom-users {
    height: 200px; }

.chat {
  width: 30%;
  min-width: 300px;
  position: absolute;
  padding: 0.5em;
  z-index: 5;
  border: 3px solid white;
  border-top: 3px solid black;
  background-color: rgba(255, 255, 255, 0.5); }
  .chat #message {
    padding: 5px;
    overflow-y: scroll;
    height: 90%; }
    .chat #message p {
      font-size: 18px;
      padding: 2px; }
    .chat #message h6 {
      font-size: 25px;
      padding: 0;
      margin: 0;
      text-align: center; }
  .chat .form {
    width: 100%;
    padding: 5px; }
    .chat .form button {
      float: right; }

.no-rotate {
  transform: rotate(0);
  -ms-transform: rotate(0);
  /* IE 9 */
  -moz-transform: rotate(0);
  /* Firefox */
  -webkit-transform: rotate(0);
  /* Safari and Chrome */
  -o-transform: rotate(0);
  /* Opera */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.rotate {
  transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  /* IE 9 */
  -moz-transform: rotate(25deg);
  /* Firefox */
  -webkit-transform: rotate(25deg);
  /* Safari and Chrome */
  -o-transform: rotate(25deg);
  /* Opera */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.note {
  height: 100px;
  width: 100px;
  z-index: 5;
  padding: 5px; }
  .note textarea {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1em;
    font-family: "Dosis", arial, sans-serif;
    resize: none; }

/*# sourceMappingURL=style.css.map */
