$placeholder-color : white;
$font : 'Dosis', arial, sans-serif;
@mixin whiteOpacityBackGround($amount) {
  background-color: rgba(255,255,255,$amount);
}
@mixin blackOpacityBackGround($amount) {
  background-color: rgba(0,0,0,$amount);
}

html, body {
	padding: 0;
	margin: 0;
	font-family: $font;
	overflow: hidden;
}

textarea { padding: 0.5em; }

.mobile {
	.day-content, .night-content, #bottle { display:none; }
	input {
		font-size: 30px;
	}
	h1 {
		font-size: 7em;
	}
	p {
		font-size: 3em;
	}
	button {
		height: 2em;
		font-size: 1.5em;
		border: none;
	}
	.header {
		img {
			height: 7em;
			width: 7em;
			margin: 1em;
		}
		#note-btn {
			height: 1em;
			width: 1em;
			margin: 0.5em;
			font-size: 5em;
			padding-bottom: 0.25em;
		}
	}
	.note {
		bottom: 0;
		right: 0;
		margin-right: 1em;
		input { font-size: 30px; }
		.border {
			height: 4em;
			.border-body { height: 4em; }
			button { font-size: 2em; height: inherit; }
			#delete { display: none }
		}
		textarea { font-size: 2em; }
	}
	.note-container { width: 75px; margin-left: 1em; }
	.chatroom-details {
		input { margin-top: 5px; }
	}
	.chat {
		margin-left: 115px;
		span { display: none; }
		#message {
			h6 { font-size: 3.5em; }
			p { font-size: 2em; }
		}
		.form {
			input { 
				width: 85%;
				margin-top: 10px;
			}
		}
	}
}

p {
	padding: 0;
	margin: 0;
}

input {
	padding: 5px;
	width: 80%;
	font-size: 14px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	font-family: $font;
}

input:focus, button:focus, textarea:focus {
	outline: 0;
}

input[type="text"]:focus {
	background-color: transparent;
	background: transparent;
}

::-webkit-input-placeholder,  {
   color: $placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-color;  
}

:-ms-input-placeholder {  
   color: $placeholder-color;  
}

button {
	border-radius: 5px;
	background-color: white;
	border: none;
	width: 25px;
	height: 25px;
	margin: 5px;
	padding: 0;
	font-family: $font;
	cursor: pointer;
}

canvas {
	display: inline-block;
}

h1 {
	margin: 0;
	padding: 0;
	color: white;
	background-color: transparent;
	text-align: center;
	font: 4em $font;
	display: inline-block;
}

// Background scene styles

.day, .night {
	-webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.day {
	background-color: rgb(224, 226, 227);
	.header {
		h1 {
			color: black;
		}
		#note-btn { color: black; }
		#note-title { color: black; }
	}
	.note-container { border-color: rgba(0,0,0,0.6); }
	#message {
		@include blackOpacityBackGround(0.5);
		color: white;
		p {
			border-bottom: 1px solid lightgrey;
		}
	}
	.form {
		input {
			color: black;
		}
		button {
			@include blackOpacityBackGround(0.5);
			color: white;
		}
	}
	input {
		border-color: black;
	}
	textarea { color: black; }
	.chatroom-details {
		@include blackOpacityBackGround(0.5);
		input {
			color: white;
			border-color: lightgrey;
		}
		button { @include whiteOpacityBackGround(0.5); }
		#chatroom-users {
			color: white;
		}
	}
	.note {
		input { border-color: black; }
	}
}

.night {
	background-color: rgb(0, 18, 70);
	.header {
		h1 {
			color: white;
		}
		#note-btn { color: white; }
	}
	#note-title { color: white; }
	.note-container { border-color: rgba(255,255,255,0.5); }
	#message {
		@include whiteOpacityBackGround(0.7);
		color: black;
		p {
			border-bottom: 1px solid darkgrey;
		}
	}
	.form {
		input {
			color: white;
		}
		button {
			background-color: white;
			color: black;
		}
	}
	input {
		border-color: white;
	}
	
	.chatroom-details {
		@include whiteOpacityBackGround(0.7);
		.chatroom-tab { cursor: pointer; }
		input {
			color: black;
			border-color: black;
		}
		#chatroom-users {
			color: black;
		}
	}
	.note {
		textarea, aside, input { color: white; }
		input { border-color: lightgrey; }
	}
}

/* Scale canvas with resize attribute to full size */
#ocean {
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    margin: 0;
    z-index: 0;
}

#night-content, #day-content {
	height: 60%;
	width: 100%;
}

// End background scene styles

.header {
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d6d6d+0,000000+100&0.65+0,0+100 */
	background: -moz-linear-gradient(top, rgba(109,109,109,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,109,109,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,109,109,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,109,109,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109,109,109,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(109,109,109,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a66d6d6d', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	img {
		width: 3em;
		float: left;
		cursor: pointer;
	}
	#note-btn {
		font-size: 1.2em;
		line-height: 20px;
		padding: 5px;
		height: 30px;
		width: 30px;
		cursor: pointer;
		float: right;
		@include whiteOpacityBackGround(0.5);
	}
}



#bottle {
	position: absolute;
	width: 20%;
	cursor: pointer;
}

.chatroom-details {
	min-width: 250px;
	height: 30%;
	margin-left: 1em;
	bottom: 0;
	position: absolute;
	z-index: 10;

	@include whiteOpacityBackGround(0.7);
	padding: 7px;
	z-index: 5;
	.chatroom-tab {
		@include whiteOpacityBackGround(0.5);
		padding: 5px;
		cursor: pointer;
	}
	#chatroom-users {
		height: 200px;
	}
}

.chat {
	width: 30%;
	min-width: 300px;
	position: absolute;

	padding: 0.5em;
	z-index: 2;

	border: 3px solid white;
	border-top: 3px solid black;
	@include whiteOpacityBackGround(0.5);

	span {
		position: absolute;
		right: -10px;
		top: -10px;
		z-index: 5;
		background-color: #f6f6f6;
		border: 2px solid #ddd;
		text-align: center;
		border-radius: 100%;
		height: 25px;
		width: 25px;
		cursor: pointer;
	}

	#message {
		padding: 5px;
		overflow-y: scroll;
		height: 90%;

		p {
			font-size: 18px;
			padding: 2px;
		}

		h6 {
			font-size: 25px;
			padding: 0;
			margin: 0;
			text-align: center;
			font-family: $font;
		}
	}

	.form {
		width: 100%;
		padding: 5px;
		button {
			float: right;
		}
	}
}

// Notes

.note {
	height: 125px;
	width: 200px;
	padding: 5px;
	overflow-y: scroll;
	.border {
		height: 10px;
		button {
			color: white;
			background-color: inherit;
			position: absolute;
			height: 10px;
			width: 10%;
			margin: 0;
			padding: 0;
			line-height: 1px;
			top: 0;
			border-radius: 0;
		}
		#mini {
			left: 0;
		}
		#delete {
			right: 0;
			z-index: 5;
			background-color: transparent;
			font-family: inherit;
			font-size: 12px;
		}
		.border-body {
			width: 90%;
			height: 10px;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	
	textarea {
		height: 100%;
		width: 100%;
		@include whiteOpacityBackGround(0.1);
		border: none;
		font-size: 1em;
		font-family: $font;
		resize: none;
	}
	input {
		font-size: 0.9em;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid;
		margin-bottom: 3px;
		height: 1.7em;
		box-shadow: none;
	}
}

#note-title {
	padding: 0;
	margin: 0 0 0 10px;
	height: 25px;
	width: 100px;
}

.note-container {
	position: absolute;
	height: 300px;
	width: 20px;
	@include whiteOpacityBackGround(0.5);
	margin: 0 10px;
	padding: 1px;
	border: 2px solid;
	z-index: 3;
}

.mini-note {
	width: 100%;
}

// overlay

#overlay {
	@include blackOpacityBackGround(0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	aside {
		color: rgba(255,255,255,0.8);
		font-size: 1.5em;
		position: absolute;
		text-align: center;
	}
	#plus {
		right: 5px;
		top: 40px;
	}
	button {
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: transparent;
		font-size: 4em;
		font-weight: 500;
		color: lightgrey;
		aside {
			width: 100%;
			font-size: 0.3em;
		}
	}

}

// bottle rotation

.no-rotate {
	 transform: rotate(0);
	  -ms-transform: rotate(0); /* IE 9 */
	  -moz-transform: rotate(0); /* Firefox */
	  -webkit-transform: rotate(0); /* Safari and Chrome */
	  -o-transform: rotate(0); /* Opera */
	  -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all 0.5s ease;
}

.rotate {
	 transform: rotate(25deg);
	  -ms-transform: rotate(25deg); /* IE 9 */
	  -moz-transform: rotate(25deg); /* Firefox */
	  -webkit-transform: rotate(25deg); /* Safari and Chrome */
	  -o-transform: rotate(25deg); /* Opera */
	  -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all 0.5s ease;
}
